body {text-align: center;
background-color: darkcyan;
color: lemonchiffon;}
ul {display:inline-block;
text-align: left;}
ol {display: inline-block;
text-align: left;}
table {margin-top:0px;
    margin-bottom: 0px;
margin-left: auto;
margin-right: auto;}
